p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  opacity: 0.5;
}

.link--icon {
  display: block;
  padding-left: 40px;
  position: relative;
  line-height: 32px;
}

.link--icon::before {
  content: "";
  displat: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-size: cover;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  max-width: 800px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
}

.photo {
  width: 200px;
}

.title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
}

.skills-list__item {
  box-sizing: border-box;
  padding-right: 20px;
  width: 50%;
}

.education-level {
  margin-bottom: 20px;
}

.education-lever__speciality {
  font-weight: bold;
}

.education-lever__organization {
  font-style: italic;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;
}

.footer__item {
  line-height: 32px;
}

.link-github::before {
  background-image: url("./assets/img/GitHub-Mark-64px.png");
}

.link-rsschool img {
  height: 32px;
}
