p {
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  max-width: 800px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
}

.photo {
  width: 200px;
}

.title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
}

.skills-list__item {
  box-sizing: border-box;
  padding-right: 20px;
  width: 50%;
}

.education-level {
  margin-bottom: 20px;
}

.education-lever__speciality {
  font-weight: bold;
}

.education-lever__organization {
  font-style: italic;
}
